.BOTAOTESTE{
    background-color: cornflowerblue;
    border-radius: 4px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 15px;
    align-items: center;
    border: none;
}

header{
    background-color: rgb(18, 69, 162);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
}

html{
    background-color: cornflowerblue;
}